@import "variables.scss";

#empty-list-box {
    width: 400px;
    max-width: 100%;
    padding: 1em;
    border: solid $black 2px;
    border-radius: $border-radius;
}

.home-page-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 100%;

    @mixin home-page-child {
        flex: auto;
        border: 2px solid $grey;
        border-radius: $border-radius;
        padding: 0 2vw;
        margin: 0 10px 10px;
    }

    #chart-container {
        @include home-page-child;

        tspan {
            font-family: $font-family !important;
            font-size: $font-size-desc !important;
        }
    }

    #list-container {
        @include home-page-child;
    }
}
